.tunnel circle {
  transform-origin: center;
}

.w-200{
  width: 200%;
}

.bg-yellow{
  background-color: #FFF44C;
}

.bg-blue{
  background-color: #7CEBFC;
}

.bg-purple{
  background-color: #CA8CF9;
}

.bg-red{
  background-color: #F9343D;
}